<a id="agenda"></a>
<h2>Upcoming</h2>
<div class="table-responsive">
    <table class="table table-condensed table-hover">

        <tr>
            <th>Topic</th>
            <th>Event</th>
            <th>Type</th>
            <th>Location</th>
            <th>2015</th>
        </tr>

        

        <tr>
            <td>Talk TBD</td>
            <td><a href="www.meetup.com/SweetlakePHP/">SweetlakePHP</a></td>
            <td class="small">Talk</td>
            <td class="small">Zoetermeer, NL</td>
            <td class="small">Feb 6</td>
        </tr>

        <tr>
            <td><a href="/workshops/">Experiencing Domain-Driven Design</a></td>
            <td>&nbsp;</td>
            <td class="small">Workshop</td>
            <td class="small">London, UK</td>
            <td class="small">TBA</td>
        </tr>

      
         <tr>
            <td><a href="/workshops/">Experiencing Domain-Driven Design</a></td>
            <td>&nbsp;</td>
            <td class="small">Workshop</td>
            <td class="small">Berlin, DE</td>
            <td class="small">TBA</td>
        </tr>

        <tr>
            <td>Talk TBD</td>
            <td><a href="http://ncrafts.io/">NCRAFTS</a></td>
            <td class="small">Talk</td>
            <td class="small">Paris, FR</td>
            <td class="small">May 21-22</td>
        </tr>
        
        <tr>
            <td>Talk TBD</td>
            <td>SOLIDay</td>
            <td class="small">Talk</td>
            <td class="small">Belgrade, RS</td>
            <td class="small">May 30</td>
        </tr>


        <tr>
            <td>Decoupling the Model from the Framework</td>
            <td><a href="https://phpconference.com/2015se/en/sessions">International PHP Conference</a></td>
            <td class="small">Talk</td>
            <td class="small">Berlin, DE</td>
            <td class="small">Jun 10-11</td>
        </tr>
        
        <tr>
            <td>Extract Till You Drop</td>
            <td><a href="https://phpconference.com/2015se/en/sessions">International PHP Conference</a></td>
            <td class="small">Talk</td>
            <td class="small">Berlin, DE</td>
            <td class="small">Jun 10-11</td>
        </tr>
        
        <tr>
            <td><a href="/workshops/">Experiencing Domain-Driven Design</a></td>
            <td>&nbsp;</td>
            <td class="small">Workshop</td>
            <td class="small">Amsterdam, NL</td>
            <td class="small">TBA</td>
        </tr>
        
        <tr>
            <td><a href="/workshops/">Experiencing Domain-Driven Design</a></td>
            <td>&nbsp;</td>
            <td class="small">Workshop</td>
            <td class="small">Ghent, BE</td>
            <td class="small">TBA</td>
        </tr>
        
        <tr>
            <th colspan="5"><a href="/agenda"><strong>Older entries...</strong></a></th>
        </tr>

    </table>
</div>



