<a id="agenda"></a>
<h2>Upcoming</h2>
<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <tr><th colspan="5" style="text-align: center">2015</th></tr>
        <tr>
            <th>Topic</th>
            <th>Event</th>
            <th>Type</th>
            <th>Location</th>
            <th>Date</th>
        </tr>

        <tr>
            <td>Higher Order Programming</td>
            <td><a href="http://www.meetup.com/sfugmunich/events/219979735/">Symfony User Group</a></td>
            <td class="small">Talk</td>
            <td class="small">Munich, DE</td>
            <td class="small">Feb 11</td>
        </tr>

        <tr>
            <td><a href="https://www.eventbrite.co.uk/e/experiencing-domain-driven-design-workshop-with-mathias-verraes-tickets-15531735840">Experiencing Domain-Driven Design</a></td>
            <td><a href="https://www.eventbrite.co.uk/e/experiencing-domain-driven-design-workshop-with-mathias-verraes-tickets-15531735840">Inviqa</a></td>
            <td class="small">Workshop</td>
            <td class="small">London, UK</td>
            <td class="small">April 22-24</td>
        </tr>

        <tr>
            <td>Talk TBD</td>
            <td><a href="http://ncrafts.io/">NCRAFTS</a></td>
            <td class="small">Talk</td>
            <td class="small">Paris, FR</td>
            <td class="small">May 21-22</td>
        </tr>
        
        <tr>
            <td>Identity</td>
            <td><a href="http://soliday.phpsrbija.rs/">SOLIDay Serbia</a></td>
            <td class="small">Talk</td>
            <td class="small">Belgrade, RS</td>
            <td class="small">May 30</td>
        </tr>


        <tr>
            <td>Decoupling the Model from the Framework</td>
            <td><a href="https://phpconference.com/2015se/en/sessions">International PHP Conference</a></td>
            <td class="small">Talk</td>
            <td class="small">Berlin, DE</td>
            <td class="small">Jun 10-11</td>
        </tr>
        
        <tr>
            <td>Extract Till You Drop</td>
            <td><a href="https://phpconference.com/2015se/en/sessions">International PHP Conference</a></td>
            <td class="small">Talk</td>
            <td class="small">Berlin, DE</td>
            <td class="small">Jun 10-11</td>
        </tr>
        
        <tr>
            <td><a href="https://www.zilverline.com/training/experiencing-domain-driven-design-2015-06-29">Experiencing Domain-Driven Design</a></td>
            <td><a href="https://www.zilverline.com/training/experiencing-domain-driven-design-2015-06-29">Zilverline</a></td>
            <td class="small">Workshop</td>
            <td class="small">Amsterdam, NL</td>
            <td class="small">Jun29-Jul1</td>
        </tr>
        
        <tr>
            <td><a href="/workshops/">Experiencing Domain-Driven Design</a></td>
            <td>3 day DDD training</td>
            <td class="small">Workshop</td>
            <td class="small">Ghent, BE</td>
            <td class="small">Aug 12-14</td>
        </tr>


        <tr>
            <td><a href="/workshops/">Experiencing Domain-Driven Design</a></td>
            <td>3 day DDD training</td>
            <td class="small">Workshop</td>
            <td class="small">Berlin, DE</td>
            <td class="small">Aug 19-21</td>
        </tr>

        <tr>
            <th colspan="5"><a href="/agenda"><strong>Older entries...</strong></a></th>
        </tr>

    </table>
</div>



