<a id="agenda"></a>
<h2>Upcoming</h2>
<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <tr><th colspan="5" style="text-align: center">2015</th></tr>
        <tr>
            <th>Topic</th>
            <th>Event</th>
            <th>Type</th>
            <th>Location</th>
            <th>Date</th>
        </tr>


        <tr>
            <td>Towards Modelling Processes</td>
            <td><a href="http://2015.phpconference.es/">PHP Barcelona</a></td>
            <td class="small">Talk</td>
            <td class="small">Barcelona, ES</td>
            <td class="small">Oct 30-31</td>
        </tr>

        <tr>
            <td>Towards Modelling Processes</td>
            <td><a href="http://www.phpcon.pl/2015/en/agenda">PHPCon Poland</a></td>
            <td class="small">Talk</td>
            <td class="small">Ossa, POL</td>
            <td class="small">Nov 13-15</td>
        </tr>

        <tr>
            <td>DDD in PHP</td>
            <td><a href="http://www.phpcon.pl/2015/en/agenda">1 day workshop</a></td>
            <td class="small">Workshop</td>
            <td class="small">Ossa, POL</td>
            <td class="small">Nov 13-15</td>
        </tr>

        <tr>
            <td>Towards Modelling Processes</td>
            <td><a href="http://www.afup.org/pages/forumphp2015/">Forum PHP Paris</a></td>
            <td class="small">Talk</td>
            <td class="small">Paris, FR</td>
            <td class="small">Nov 23-24</td>
        </tr>

        <tr>
            <td>DDD in PHP</td>
            <td><a href="http://laracon.eu">1 day workshop</a></td>
            <td class="small">Workshop</td>
            <td class="small">Amsterdam, NL</td>
            <td class="small">TBD</td>
        </tr>


    </table>
    <table class="table table-condensed table-hover">
        <tr><th colspan="5" style="text-align: center">2016</th></tr>
        <tr>
            <th>Topic</th>
            <th>Event</th>
            <th>Type</th>
            <th>Location</th>
            <th>Date</th>
        </tr>
        <tr>
            <td><a href="http://dddeurope.com">Temporal Modelling</a></td>
            <td><a href="http://dddeurope.com">1 day workshop</a></td>
            <td class="small">Workshop</td>
            <td class="small">Brussels, BE</td>
            <td class="small">Jan 26</td>
        </tr>
        <tr>
            <td><a href="http://dddeurope.com"></a></td>
            <td><a href="http://dddeurope.com">Domain-Driven Design Europe</a></td>
            <td class="small">Conference</td>
            <td class="small">Brussels, BE</td>
            <td class="small">Jan 28-29</td>
        </tr>
        <tr>
            <td><a href="/workshops">Experiencing Domain-Driven Design</a></td>
            <td><a href="/workshops">3 day DDD training</a></td>
            <td class="small">Workshop</td>
            <td class="small">Leuven, BE</td>
            <td class="small">Mar 2-4</td>
        </tr>
        <tr>
            <td><a href="/workshops">Experiencing Domain-Driven Design</a></td>
            <td><a href="/workshops">3 day DDD training</a></td>
            <td class="small">Workshop</td>
            <td class="small">Berlin, DE</td>
            <td class="small">Mar 23-25</td>
        </tr>


        <tr>
            <th colspan="5"><a href="/agenda#past"><strong>Older entries...</strong></a></th>
        </tr>

    </table>
</div>



