<a href="/workshops/newsletter/" role="button" class="btn btn-success btn-lg ">
    <i class="fa fa-envelope-o"></i>
    Get notified of new workshops, discounts, ...
</a>




<div class="media well">
    <a class="pull-right hidden-xs" href="http://goo.gl/forms/Xm1VGxja9v">
        <img class="media-object img-rounded" src="/workshops/img/berlin.jpg" alt="Experiencing Domain-Driven Design workshop">
    </a>
    <div class="media-body">
        <h2 class="media-heading">Experiencing<br>Domain-Driven Design</h2>
        <h4>July 6-8, 2016 - Berlin, Germany</h4>
        <p>Three day intensive DDD course for software developers. </p>
        <ul>
            <li>Price: EUR 1295,- ex VAT for 3 days</li>
            <li>Includes lunch, snacks, and drinks.</li>
            <li>July 6-8, 9:30-17:30</li>
            <li>Language: English</li>
            <li>Programming language agnostic</li>
            <li>Venue: <a href="http://www.ramada.com/hotels/germany/berlin/ramada-berlin-alexanderplatz/hotel-overview?partner_id=&hotel_id=32623&campaign_code=&propId=RA32623&checkout_date&brand_id=RA&children=0&corporate_id=&ratePlan=&teens=0&affiliate_id=&iata=&rate_code=&adults=1&checkin_date&rooms=1">Ramada Berlin Alexanderplatz, Karl Liebknecht Strasse 32, Berlin, Germany</a></li>
            <li><a href="/workshops/terms-and-conditions/">Terms and Conditions</a></li>
        </ul>
        <a href="/workshops/ExperiencingDomainDrivenDesignFlyer2015.pdf" role="button" class="btn btn-info btn-lg ">
            Read more
            <i class="fa fa-download"></i>
        </a>
        <a href="http://goo.gl/forms/Xm1VGxja9v" role="button" class="btn btn-success btn-lg ">
            Register now <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>



<div class="media well">
    <a class="pull-left hidden-xs" href="http://goo.gl/forms/fbpiIgI6zL">
        <img class="media-object img-rounded" src="/workshops/img/breukelen.jpg" alt="Experiencing Domain-Driven Design workshop">
    </a>
    <div class="media-body">
        <h2 class="media-heading">Experiencing<br>Domain-Driven Design</h2>
        <h4>September 7-9, 2016 — Breukelen (Amsterdam), Netherlands</h4>
        <p>Three day intensive DDD course for software developers. </p>
        <ul>
            <li>Price: EUR 1295,- ex VAT for 3 days</li>
            <li>Includes lunch, snacks, and drinks.</li>
            <li>September 7-9, 9:30-17:30</li>
            <li>Language: English</li>
            <li>Programming language agnostic</li>
            <li>Venue: <a href="https://www.hotelbreukelen.nl/en">Van Der Valk Hotel Breukelen</a> <a href="https://www.hotelbreukelen.nl/en/contact#route">(Route)</a> </li>
            <li>20 min from Amsterdam, 20 min from Schiphol Airport</li>
            <li><a href="/workshops/terms-and-conditions/">Terms and Conditions</a></li>
        </ul>
        <a href="/workshops/ExperiencingDomainDrivenDesignFlyer2015.pdf" role="button" class="btn btn-info btn-lg ">
            Read more
            <i class="fa fa-download"></i>
        </a>
        <a href="http://goo.gl/forms/fbpiIgI6zL" role="button" class="btn btn-success btn-lg ">
            Register now <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>


<div class="media well">
    <a class="pull-right hidden-xs" href="http://ncrafts.io/">
        <img class="media-object img-rounded" src="/workshops/img/paris.jpg" alt="CQRS/EventSourcing workshop">
    </a>
    <div class="media-body">
        <h2 class="media-heading">CQRS + Event Sourcing + Event Storming</h2>
        <h4>May 11, 2016 — Paris, France</h4>
        <h4>Registration will open soon<!-- @TODO--></h4>
        <p>One day class, part hands on, part theory</p>
        <ul>
            <li><a href="/#contact">Contact us</a></li>
        </ul>

        <!-- @TODO button-->
    </div>
</div>




<div class="media well">
    <div class="media-body">
        <p>Contact Mathias for private workshops or consultancy.</p>
        <a href="/#contact" role="button" class="btn btn-info btn-lg ">
            Contact Mathias
            <i class="fa fa-arrow-circle-right"></i>
        </a>
        <a href="/workshops/newsletter/" role="button" class="btn btn-success btn-lg ">
            <i class="fa fa-envelope-o"></i>
            Get notified of new workshops, discounts, ...
        </a>

        <br/>
    </div>
</div>