<a href="/workshops/newsletter/" role="button" class="btn btn-success btn-lg ">
    <i class="fa fa-envelope-o"></i>
    Get notified of new workshops
</a>


<div class="media well">
    <a class="pull-right hidden-xs" href="http://www.phpcon.pl/2015/en/agenda">
        <img class="media-object img-rounded" src="/workshops/img/ossa.jpg" alt="Domain-Driven Design in PHP training">
    </a>
    <div class="media-body">
        <h2 class="media-heading">Domain-Driven Design in PHP</h2>
        <h4>November 2015 - Ossa, Poland</h4>
        <p>One day DDD training for PHP developers, organised by PHPCon Poland.</p>
        <a href="http://www.phpcon.pl/2015/en/agenda" role="button" class="btn btn-success btn-lg ">
            Info & registrations <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>



<div class="media well">
    <a class="pull-left hidden-xs" href="http://laracon.eu">
        <img class="media-object img-rounded" src="/workshops/img/amsterdam.jpg" alt="Domain-Driven Design in PHP training">
    </a>
    <div class="media-body">
        <h2 class="media-heading">Domain-Driven Design in PHP</h2>
        <h4>Coming soon! - Amsterdam, Netherlands</h4>
        <p>One day DDD training for PHP developers, organised by Laracon EU.</p>
        <a href="http://laracon.eu" role="button" class="btn btn-success btn-lg ">
            Soon! <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>



<div class="media well">
    <a class="pull-right hidden-xs" href="http://goo.gl/forms/ZRcSh2jJn0">
        <img class="media-object img-rounded" src="/workshops/img/leuven.jpg" alt="Experiencing Domain-Driven Design workshop">
    </a>
    <div class="media-body">
        <h2 class="media-heading">Experiencing<br>Domain-Driven Design</h2>
        <h4>March 2-4, 2016 - Leuven (near Brussels), Belgium</h4>
        <p>Three day intensive DDD workshop for software developers. </p>
        <ul>
            <li>Full price course fee: EUR 1295,- ex VAT for 3 days</li>
            <li>Early bird until January 15: EUR 995,- ex VAT for 3 days</li>
            <li>Includes lunch, snacks, and drinks.</li>
            <li>March 2-4, 2016, 9:30-17:30</li>
            <li>Language: English</li>
            <li>Programming language agnostic</li>
            <li>Venue: <a href="http://www.parkinn.com/hotel-leuven">Park Inn by Radisson Hotel</a>, Leuven, Belgium</li>
            <li>15 minutes from Brussels Airport (BRU)</li>
            <li><a href="/workshops/terms-and-conditions/">Terms and Conditions</a></li>
        </ul>
        <a href="/workshops/ExperiencingDomainDrivenDesignFlyer2015.pdf" role="button" class="btn btn-info btn-lg ">
            Read more
            <i class="fa fa-download"></i>
        </a>
        <a href="http://goo.gl/forms/ZRcSh2jJn0" role="button" class="btn btn-success btn-lg ">
            Register now <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>


<div class="media well">
    <a class="pull-left hidden-xs" href="http://goo.gl/forms/UnxEaXzAyA">
        <img class="media-object img-rounded" src="/workshops/img/berlin.jpg" alt="Experiencing Domain-Driven Design workshop">
    </a>
    <div class="media-body">
        <h2 class="media-heading">Experiencing<br>Domain-Driven Design</h2>
        <h4>March 23-25, 2016 - Berlin, Germany</h4>
        <p>Three day intensive DDD course for software developers. </p>
        <ul>
            <li>Full price course fee: EUR 1295,- ex VAT for 3 days</li>
            <li>Early bird until January 15: EUR 995,- ex VAT for 3 days</li>
            <li>Includes lunch, snacks, and drinks.</li>
            <li>March 23-25, 2016, 9:30-17:30</li>
            <li>Language: English</li>
            <li>Programming language agnostic</li>
            <li>Venue: <a href="https://www.relexa-hotel-berlin.de/en">Relexa Hotel & Conference center</a>, Berlin, Germany</li>
            <li><a href="/workshops/terms-and-conditions/">Terms and Conditions</a></li>
        </ul>
        <a href="/workshops/ExperiencingDomainDrivenDesignFlyer2015.pdf" role="button" class="btn btn-info btn-lg ">
            Read more
            <i class="fa fa-download"></i>
        </a>
        <a href="http://goo.gl/forms/UnxEaXzAyA" role="button" class="btn btn-success btn-lg ">
            Register now <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>




<div class="media well">
    <div class="media-body">
        <p>Contact Mathias for private workshops or consultancy.</p>
        <a href="/#contact" role="button" class="btn btn-info btn-lg ">
            Contact Mathias
            <i class="fa fa-arrow-circle-right"></i>
        </a>
        <a href="/workshops/newsletter/" role="button" class="btn btn-success btn-lg ">
            <i class="fa fa-envelope-o"></i>
            Get notified of new workshops
        </a>

        <br/>
    </div>
</div>