<div class="media well">
    <a class="pull-right hidden-xs" href="/2014/08/workshop-domain-driven-design-ghent/">
        <img class="media-object img-rounded" src="/workshops/img/ghent.jpg" alt="Experiencing Domain-Driven Design workshop">
    </a>
    <div class="media-body">
        <h2 class="media-heading">Experiencing Domain-Driven Design</h2>
        <h4>January 21-23, 2015 - Ghent, Belgium</h4>
        <p>Three day workshop for software developers.
        </p>
        <a href="/2014/08/workshop-domain-driven-design-ghent/" role="button" class="btn btn-info btn-lg ">
            Read more
        </a>
        <a href="https://docs.google.com/forms/d/1yiHkJDHRnVl4M6auGKuPBT8JpzhV-9Y_9YM45ALHxL0/viewform?usp=send_form" role="button" class="btn btn-success btn-lg ">
            Register now <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>

<div class="media well">
    <div class="media-body">
        <h2 class="media-heading">More?</h2>
        <ul style="list-style: none">
            <li>A public workshop in your city? I'm looking for companies to partner with.</li>
            <li>A private workshop or consulting session in your organization?</li>
        </ul>

        <a href="/#contact" role="button" class="btn btn-info btn-lg ">
            Contact Mathias
            <i class="fa fa-arrow-circle-right"></i>
        </a>
        <a href="http://eepurl.com/1IAmf" role="button" class="btn btn-success btn-lg ">
            <i class="fa fa-envelope-o"></i>
            Get notified of new workshops.
        </a>

        <br/>
    </div>
</div>