<div class="media well" style="border:none;background: none;-webkit-box-shadow:none;box-shadow: none;">
    <a class="pull-right hidden-xs" href="#">
        <img class="media-object img-rounded" src="/workshops/img/jordillonch.jpeg" alt="Jordi Llonch">
    </a>
    <div class="media-body">
        <h4>Testimonials</h4>
        <p>“I spent three days immersed in the Domain-Driven Design world with Mathias. It was a great experience where I learned a lot about DDD. Mathias created an environment where we could interact all together experimenting with DDD. Furthermore Mathias adapted the workshop content dynamically to our needs and our concerns. It is a recommended experience!”</p>
        <h4>Jordi Llonch, Technical Lead,<br>Akamon Entertainment (Spain)</h4>
    </div>
    <br/>
    <a class="pull-left hidden-xs" href="#">
        <img class="media-object img-rounded" src="/workshops/img/sebastienabras.jpg" alt="Sébastien Abras">
    </a>
    <div class="media-body">
        <p>“Mathias made Domain-Driven Design very real and practical. He managed to find a good balance between practical workshop, theory, and sharing experiences. This workshop really gave me the keys to use DDD in our projects and showed me new perspectives like Event Sourcing. It is definitely a must have complement to the usual books by Eric Evans and Vaughn Vernon. I would definitely recommend this workshop to any developer or architect who is keen to learn a different way to model software.”</p>
        <h4>Sébastien Abras, Senior Software Architect, EVS Broadcast (Belgium)</h4>
    </div>
    <br/>
    <a class="pull-right hidden-xs" href="#">
        <img class="media-object img-rounded" src="/workshops/img/marcvanandel.jpg" alt="Marc Van Andel">
    </a>
    <div class="media-body">
        <p>“Event Storming is truly valuable, also as an exercise. I found the patterns to separate domains and their relations very interesting. (...) I've discovered that DDD has many patterns and strategies that we seem to have lost. It is essential knowledge for every developer, from junior to architect. For more experienced developers (and business architects), the Strategic Domain-Driven Design workshop gives theory and experience to better deal with (business) domains, relations, Bounded Contexts, and how to map systems. Must attend!”<small>(translated from Dutch)</small></p>
        <h4>Marc Van Andel, Integration Specialist / Software Architect Java, Kadaster (Netherlands)</h4>
    </div>
</div>