
<h3>Experiencing Domain-Driven Design</h3>
<ul>
    <li>3 days</li>
    <li>Max 15 attendees</li>
    <li>For experienced developers</li>
    <li>Programming language agnostic</li>
    <li>Includes everything from the Event Storming Workshop</li>
</ul>
Learn all about:
<ul>
    <li>Tactical design patterns</li>
    <li>Systems Thinking</li>
    <li>Strategic DDD, Context Mapping, Distillation, ...</li>
    <li>CQRS/Event Sourcing</li>
    <li>Integrating with legacy</li>
    <li>Modelling heuristics</li>
    <li>Temporal Models</li>
    <li>... and more!</li>
</ul>
