
<ul>
    <li>One day</li>
    <li>Maximum 40 attendees</li>
    <li>Senior PHP developers</li>
    <li>Builds on knowledge of Object-Oriented Programming and SOLID principles</li>
</ul>


Learn all about
<ul>

    <li>Domain-Driven Design basics</li>
    <li>Discovering the domain and the Ubiquitous Language</li>
    <li>Structural and behavioral modelling</li>
    <li>Applying tactical design patterns: value objects, entities, aggregates, repositories, commands, events, specifications, strategies, factories, services...</li>
    <li>And more!</li>
</ul>

<a href="/workshops/DDDinPHPFlyer2015.pdf" role="button" class="btn btn-info btn-lg ">
    Read the full description
    <i class="fa fa-download"></i>
</a>