
<ul>

    <li>One day hands-on discovery, analysis, modelling, and visualization</li>
    <li>Maximum 15 attendees</li>
    <li>For Developers, PMs, Product Owners, Domain Experts, Analysts, ...</li>
</ul>
Learn all about:
<ul>
    <li>Discovering and building the Ubiquitous Language</li>
    <li>Extracting &amp; analyzing knowledge from domain experts</li>
    <li>Visualization &amp; collaboration techniques</li>
    <li>Modelling scenarios, processes, and workflows</li>
    <li>... and more!</li>
</ul>
<a href="/workshops/EventStormingWorkshopFlyer2015.pdf" role="button" class="btn btn-info btn-lg ">
    Download the flyer
    <i class="fa fa-download"></i>
</a>

