
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="eventstormingHeading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseEventstorming" aria-expanded="false" aria-controls="collapseEventstorming">
                    Event Storming
                </a>
            </h4>
        </div>
        <div id="collapseEventstorming" class="panel-collapse collapse" role="tabpanel" aria-labelledby="eventstormingHeading">
            <div class="panel-body">
                {% include workshop-format-eventstorming.html %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="expdddHeading">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseExpddd" aria-expanded="false" aria-controls="collapseExpddd">
                    Experiencing Domain-Driven Design
                </a>
            </h4>
        </div>
        <div id="collapseExpddd" class="panel-collapse collapse" role="tabpanel" aria-labelledby="expdddHeading">
            <div class="panel-body">
                {% include workshop-format-experiencing.html %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="dddinphpHeading">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseDddinphp" aria-expanded="false" aria-controls="collapseDddinphp">
                    DDD in PHP Training
                </a>
            </h4>
        </div>
        <div id="collapseDddinphp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dddinphpHeading">
            <div class="panel-body">
                {% include workshop-format-dddinphp.html %}
            </div>
        </div>
    </div>
</div>