
<ul>
    <li>One day</li>
    <li>Maximum 40 attendees</li>
    <li>Senior PHP developers</li>
    <li>Builds on knowledge of Object-Oriented Programming and SOLID principles</li>
</ul>


Learn all about
<ul>
    <li>Domain-Driven Design basics</li>
    <li>Building the Ubiquitous Language</li>
    <li>Structural and behavioral models</li>
    <li>Applying tactical design patterns: value objects, entities, repositories, commands, events, specifications, strategies,
        factories, services...
    </li>
    <li>... and more!</li>
</ul>

