---
layout: default
title: Domain-Driven Design Courses with Mathias Verraes
---


<div class="text-center">
    <h1>Domain-Driven Design courses</h1>
    <h2>with Mathias Verraes</h2>
</div>

<img src="/img/modelstorming/modelstorming-dpc14-2-700.jpg" class="img-responsive img-rounded" alt="Mathias Verraes">

<br/>
<h2>Workshop formats</h2>
{% include workshop-formats.html %}<br/>



<h2>Upcoming Workshops</h2>
{% include workshop-upcoming.html %}<br/>

{% include workshop-testimonials.html %}<br/><br/>


{% include agenda.html %}<br/><br/>

